@import '../../styles/mixins.less';
header{
	background: #ddd;
	width: 100%;
	ul{
		display: block;
		padding: @spacing-base;
		margin: 0;
		list-style: none;
		//mixin calls
		.clearfix();
		li{
			float: left;
			a{
				padding: @spacing-base;
			}
		} 
	}
}