@import '../../styles/mixins.less';
.logo{
    float: left;
    padding: 15px;
    line-height: 0;
    img{
    	width: 55px;
    }
}
header{
	background: #000;
	width: 100%;
	//mixin calls
	.clearfix();
	ul{
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
		//mixin calls
		.clearfix();
		li{
			float: left;
			a{
				display: block;
				color: #fff;
				padding: @spacing-base;
				text-decoration: none;
				&:hover{
					background: #fff;
					color: #000;
				}
			}
		}
		&.right{
			float: right;
		}
	}
}