@import '../../styles/mixins.less';
.menu{
	background: transparent;
	width: 100%;
	position: fixed;
	transition: background .25s ease;
	//mixin calls
	.clearfix();
	.logo{
		float: left;
		background: url(/images/logo--black.png) 15px no-repeat;
		background-size: 67px;
		height: 48px;
		width: 98px;
		text-indent: -9999px;
	}
	&__ul{
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
		//mixin calls
		.clearfix();
		li{
			float: left;
			a{
				display: block;
				color: #000;
				padding: @spacing-base;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		&--right{
			float: right;
		}
	}
	//modifiers
	&--fixed{
		background: #000;
		.logo{
			background: url(/images/logo--white.png) 15px no-repeat;
			background-size: 67px;
		}
		li{
			a{
				color: #fff;
				&:hover{
					background: #fff;
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
}