<script type="text/template">
<h2>Featured</h2>
<div class="grid">
	<div class="grid__item grid__item--2">
		<div class="product">
			<div class="product__image">
				<img src="images/products/classic-lucid-tee/main5.png">
			</div>
			<div class="product__details">
				<div class="product__name">Classic Lucid Tee</div>
			</div>
			<div class="product__shadow"></div>
		</div>
	</div>
	<div class="grid__item grid__item--2">
		<div class="product">
			<div class="product__image">
				<img src="images/products/lucid-crew-neck/main5.png">
			</div>
			<div class="product__details">
				<div class="product__name">Lucid Crew Neck</div>
			</div>
			<div class="product__shadow"></div>
		</div>
	</div>
</div>
</script>