<script type="text/template">
    <% _.each(rendered, function(helper) { %>
        <a href="#/products/<%= helper.get('link') %>" class="product column">
            <img src="<%= helper.get('image') %>"/>
            <h4><%= helper.get('title') %></h4>
        </a>
    <% }); %>
</script>