@import 'mixins.less';
html,
body{
	font-family: 'Montserrat';
}
body{
	padding: 0;
	margin: 0;
	font-size: @font-base;
	color: @color-text;
	*{
		box-sizing: border-box;
	}
}
ul{
	margin: 0;
	padding: 0;
	list-style-position: inside;
}
i{
	&:first-child{
		margin-right: @spacing-small;
	}
}
h1,h2,h3,h4{
	font-weight: 400;
	margin: @spacing-base 0;
	text-transform: uppercase;
	font-family: 'Montserrat';
	&:first-child{
		margin-top: 0;
	}
}
h1{
	font-size: @font-xxl;
}
h2{
	font-size: @font-large;
}
h3{}
h4{}

.wrapper{
	width: 75%;
	margin: 0 auto;
	padding: 60px 0;
}